@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap');

* {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      color: #ededed;
}

.header {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      padding: 20px 29px;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
}

.logo {
      position: relative;
      font-size: 35px;
      color: #edeede;
      text-decoration: none;
      font-weight: 600;
}

.logo::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: .8s;
}

.navbar a {
      font-size: 30px;
      color: #edeede;
      text-decoration: none;
      font-weight: 500;
      margin-left: 35px;
      transition: .5s;

}

.navbar a:hover,
.navbar a.active {
      color: #00abf0;
}

.home {
      height: 100vh;
      display: flex;
      align-items: center;
      padding: 29px;
      background: url('home.jpg') no-repeat;
      background-position: center;
      background-size: cover;
}

.home-content {
      max-width: 600px;
}

.home-content h1 {
      position: relative;
      font-size: 54px;
      font-weight: 700;
      line-height: 1.2;
}

.home-content h1::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 1.5s;
}

.home-content h3 {
      position: relative;
      font-size: 42px;
      font-weight: 700;
      color: #00abf0;
}

.home-content h3::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 1.8s;
}

.home-content p {
      font-size: 20px;
      padding-top: 50px;
      padding-bottom: 50px;
      position: relative;
}

.home-content p::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 1.5s;
}

.home-content .btn-box {
      position: relative;
      width: 345px;
      height: 50px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
}

.home-content .btn-box::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 1.9s;
      z-index: 2;
}

.btn-box a {
      align-items: center;
      justify-content: center;
      display: inline-flex;
      width: 150px;
      height: 100%;
      background-color: #00abf0;
      border: 2px solid #00abf0;
      border-radius: 14px;
      color: #081b29;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      z-index: 1;
      overflow: hidden;
}

.btn-box a:hover {
      color: #00abf0;
}

.btn-box a:nth-child(2):hover {
      color: #081b29;
}

.btn-box a:nth-child(2) {
      background: transparent;
      color: #00abf0;
}

.btn-box a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #081b29;
      z-index: -1;
      transition: .5s;
}

.btn-box a:hover::before {
      width: 100%;
}

.btn-box a:nth-child(2)::before {
      background-color: #00abf0;
}

.home-sci {
      position: absolute;
      bottom: 40px;
      width: 170px;
      display: flex;
      justify-content: space-between;
}

.home-sci::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 2.5s;
      z-index: 2;
}

.home-sci a {
      position: relative;
      width: 40px;
      height: 40px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 2px solid #00abf0;
      border-radius: 50%;
      font-size: 20px;
      color: #00abf0;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
      transition: .5s;
}

.home-sci a:hover {
      color: #081b29;
}

.home-sci a::before {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background: #00abf0;
      z-index: -1;
      transition: .5s;
}

.home-sci a:hover::before {
      width: 100%;
}

.home-imghover {
      position: absolute;
      top: 0;
      right: 30px;
      width: 750px;
      height: 100%;
      background: transparent;
      border: 2px solid red;
      transition: 3s;
      border: 60px;
      animation: manipActiveHover .1s forwards;
      animation-delay: 4s;
      pointer-events: none;
}

.home-imghover::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 120%;
      height: 100%;
      background-color: #081b29;
      animation: showRight 1s ease forwards;
      animation-delay: 3s;
      z-index: 100;
}

.home-imghover:hover {
      background-color: #081b29;
      opacity: .8;
}

@keyframes showRight {
      100% {
            width: 0;
      }
}

@keyframes manipActiveHover {
      100% {
            pointer-events: auto;
      }
}
